#app {
    font-family: Arial, sans-serif;
    margin: 20px;
  }


  form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Расстояние между строками */
  }
  
  .form-row {
    display: flex;
    align-items: center;
    gap: 10px; /* Расстояние между элементами в строке */
  }
  
  label {
    width: 230px; /* Фиксированная ширина для меток */
    text-align: left; /* Выравнивание текста меток по правому краю */
  }
  
  select, input {
    flex: 1; /* Растягиваемые поля ввода и выпадающий список */
    padding: 5px;
  }
  
  button {
    padding: 5px 10px;
    cursor: pointer;
  }

  /* Тени и рамки для полей ввода и кнопок:*/
  select, input, button {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

/*Анимации при наведении на кнопки:*/
  button:hover {
    background-color: #398ad5;
    transition: background-color 2.3s ease;
  }

  