#app {
    font-family: Arial, sans-serif;
    margin: 20px;
  }


  form {
    display: flex;
    flex-direction: column;
    gap: 12px; /* Расстояние между строками */
  }
  
  .form-row {
    display: flex;
    align-items: center;
    gap: 12px; /* Расстояние между элементами в строке */
  }

  .select-field{
    cursor:copy;
  }
  
  label {
    width: 112px; /* Фиксированная ширина для меток */
    text-align: left; /* Выравнивание текста меток по правому краю */
  }
  
  select, input {
    flex: 1; /* Растягиваемые поля ввода и выпадающий список */
    padding: 5px;
  }
  
  button {
    padding: 5px 10px;
    cursor: pointer;
  }

  #comment{
    resize: none;
    flex: 1;
  }

  /* Тени и рамки для полей ввода и кнопок:*/
  select, input, button {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

/*Анимации при наведении на кнопки:*/
  button:hover {
    background-color: #398ad5;
    transition: background-color 0.3s ease;
  }

  input:hover{
    background-color: #a2bbd2;
    transition: background-color 0.3s ease;
  }


  .custom-popup {
    width: 300px; /* Ширина окна */
    height: 250px; /* Высота окна */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
  
  .custom-title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .custom-content {
    font-size: 14px;
  }


  